html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  cursor: pointer;
}

//clearfix
.group:after {
  content: "";
  display: block;
  clear: both;
}

#game-page {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.game {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.game-canvases {
  position: relative;
  float: left;
}

#game-info {
  background: #E4E2DC;
  margin-left: auto;
  margin-right: auto;
  float: right;

  font-family: 'Vibur', sans-serif;
  width: 120px;
  height: 90px;
  padding: 10px;
  padding-left: 15px;
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 5%;
  font-size: 20px;
  border-radius: 3px;
}

#jkw-info {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 22px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 15px;
  padding-left: 15px;
  margin-left: 0px;
}

#jkw-info li {
  font-size: 12px;
  padding-top: 8px;
  text-decoration: underline;
}

#jkw-info li:hover {
  color: #1db31d;
}

#score {
  font-size: 50px;
}

#score.getting-impolite {
  color: orange;
}

#score.most-impolite {
  color: red;
  font-size: 1em;
  font-weight: bold;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

#background-canvas {
  border: 8px solid #A7B6B8;
  position: absolute;
  margin-left: 30%;
  border-radius: 20px;
  box-sizing: border-box;
}

#foreground-canvas {
  border: 8px solid #A7B6B8;
  position: absolute;
  margin-left: 30%;
  border-radius: 10px;
  box-sizing: border-box;
}

h1 {
  color: #7d9092;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  font-family: 'Vibur', sans-serif;
  margin-left: 5px;
}

p {
  font-family: "Roboto Slab", sans-serif;
  font-size: 11px;
  text-align: center;
  position: relative;
}

#instructions-overlay {
  z-index: 200;
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.2em;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
